body {
  margin: 0;
  color: #345;
  font-size: 9pt;
}
body * {
  white-space: nowrap;
}

.templateItem {
  display: none;
}

#menu .item {
  padding: 4px 25px 4px 1px;
  margin: 0px 2px;
  cursor: pointer;
}

#menu .item:hover {
  padding: 3px 24px 3px 0px;
	border: solid 1px #9370D8;
  border-radius: 3px;
	background-color: rgba(0, 0, 255, 0.1);
}

#menu .item:active {
  padding: 3px 24px 3px 0px;
  border: solid 1px #8A2BE2;
  border-radius: 3px;
  background-color: rgba(0, 0, 255, 0.3);
}

#menu .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#menu .checked .icon {
	position: relative;
}

#menu .checked .icon:after {
	position: absolute;
	display: block;
	content: "";
	width: 5px;
	height: 10px;
	top: 34%;
	left: 5px;
	border: solid 3px #ccc;
	border-left: 0;
	border-top: 0;
	transform: translateY(-50%) rotate(45deg);
}
